* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  outline: none;
}

input,
button,
textarea,
select {
  margin: 0;
  font: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

a {
  text-decoration: none;
}
