
.page {
  display: grid;
  grid-template-columns: min(438px, 100%) 1fr;
  grid-template-rows: 100%;
  width: 100%;
  height: 100vh;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  overflow-y: auto;
  padding: 40px 40px 32px;
  width: 100%;
  height: 100%;
  background: var(--theme-bg);
  gap: 40px;

  @media (max-width: 900px) {
    gap: 40px;
  }
}

.header,
.controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  @media (max-width: 450px) {
    gap: 8px;
  }
}

.header {
  width: 100%;
}

.auth {
  display: flex;
  flex-direction: column;
  width: 100%;

  @media (max-width: 900px) {
    align-items: center;
  }
}

.conversely_link {
  margin-top: 8px;
  gap: 4px;
}

.another_variants_body {
  margin-top: 40px;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.another_variants_title {
  text-wrap: nowrap;

  @media (max-width: 900px) {
    justify-content: center;
  }
}

.conditions {
  font-size: 10px;
  line-height: normal;
}

.footer {
  width: 100%;
}

.promo {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  @media (max-width: 900px) {
    display: none;
  }
}

.promo_image {
  border-radius: 0;
}

.icon {
  position: absolute;
  right: -121px;
  bottom: -165px;
  width: 63.67%;
  height: auto;
  mix-blend-mode: color-dodge;

  @media (max-width: 1300px) {
    right: -85px;
    bottom: -90px;
  }
}

.cursor_link {
  cursor: pointer;
}