.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  gap: 40px;
}

.line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 32px;
}