.column {
    display: flex;
    flex-direction: column;
    gap:32px;
}

.content_cards {
    display: flex;
    flex-direction: column;
    gap:16px;
}

.card {
    padding: 3px;

    .card_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap:32px;
    }
}

.card_mask {
    border-radius: 17px;
    height: 100%;
    max-width: 96px;
}

.card_content_padding {
    padding: 23px 0;
    padding-right: 32px;
}

.description {
    align-items: center;
    line-height: 155%;
}