.card_mini {
  @include adaptiv(mobile) {
    padding: 26px 32px 24px; 
  }

  @media (max-width: 1200px) {
    width: 48%;
  }

  @media (max-width: 650px) {
    width: 100%;
  }
}

.textBalance {
  margin-top: 24px;
  margin-bottom: 4px;

  @include adaptiv(tablet) {
    margin-top: 14px;
    margin-bottom: 2px;
  }

  @include adaptiv(mobile) {
    margin-top: 7px;
    margin-bottom: 0;
  }
}

.textBalanceSkeleton {
  width: 70%;

  @extend .textBalance;
}