
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.avatar {
  border: 1px solid var(--acsent-color);
  border-radius: 8px;
  width: 30px;
  height: 30px;
}