

.description {
    width: 100%;
    max-width: 586px;
}

.media_book {
    right: 38px;
    bottom:0;
}

.book_content {
    right: 82px;
    bottom:-1px;
}

.list {
    display: grid;
    justify-content: space-between;
    grid-template-columns: auto auto;
    gap: 8px 50px;

    .column {
        gap:12px;
    }
}

.icon {
    width: 64px;
    height: 64px;
 
    @media (max-width: 1200px) {
        width: 37px;
        height: 37px;
    }
}