:root {
  --theme-bg: #ebeff0;
  --main-color: #465461;
  --main-color-inverted: #fafafa;
  --acsent-color: #5eb1bf;
  --acsent-dark-color: #488690;
  --block-stoke-color: #e3f2f4;
  --block-fill-color: #fafafa;
  --positive-color: #5fcb9d;
  --negative-color: #fc8c8c;

  --short-logo-color: #5eb1bf;
  --logo-first-color: #488690;

  --sidebar-overlay-bg: rgba(235, 239, 240, 0.3);
  --navbar-bg: linear-gradient(0deg, rgba(81, 99, 117, 0.5) 0%, rgba(81, 99, 117, 0) 100%);
  --wrapper-skeleton: var(--block-stoke-color);
  --skeleton: #ededed; 
}
